/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles & Variables */
:root {
  --primary-color: #28283D;
  --font-family: 'Poppins', sans-serif;
  font-family: var(--font-family);
}